@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

body {
    font-family: 'Source Sans 3', sans-serif;
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #262626;
    /* neutral-800 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #404040;
    /* neutral-700 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #525252;
    /* neutral-600 */
}

/* Para Firefox */
* {
    scrollbar-color: #404040 #262626;
    /* thumb track */
    scrollbar-width: thin;
}